body {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.header {
  display: flex;
  width: 400px;
  margin-bottom: 16px;
  justify-content: space-between;
}

.control {
  padding: 2px 16px;
  border: 1px solid #006d75;
  background: #e6fffb;
  color: #333;
  border-radius: 2px;
  font-size: 12px;
}
.control:hover {
  opacity: 0.7;
}
